---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<API_KEY>&api_sig=e73658efd39c3226a721b316abb1da78&method=auth.getSession&token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <lfm status="ok">
          <session>
            <name>~USERNAME~</name>
            <key>~SESSION~</key>
            <subscriber>0</subscriber>
          </session>
        </lfm>
  recorded_at: Sun, 21 Jan 2018 18:55:20 GMT
recorded_with: VCR 4.0.0
