.widget {
  width: 550px;
}

.widget-nav {
  display: block;
  width: 100%;
  text-align: center;

  .btn {
    width: 85px;
  }
}

.widget-body {
  header {
    padding: 7px;
  }

  article {
    height: 300px;
    padding: 0 7px 7px 7px;
  }
}
